body {
    background: #fdfdfd;
}

.bg-dark {
    background-color: #000000 !important;
}

.underline, .underline:hover {
    text-decoration: underline;
}

.break-all {
    word-break: break-all;
}

nav {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    font-family: monospace;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.section-title {
    margin: 0px 15px 15px 15px;
}

.repository-container {
    margin-bottom: 20px;
}

.repository-container .card-footer {
    border-top: 0;
}

.github-profile-pic {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #888888;
}

.contact-option-image {
    float: left; /* Prevents the text on the right side from wrapping underneath the image. */
    max-height: 25px;
    padding-right: 10px;
    max-height: 25px;
}