.bg-dark {
    background-color: #420000 !important;
}

.underline, .underline:hover {
    text-decoration: underline;
}

.repository-container {
    background: #eeeeee;
    padding: 5px;
    border: 1px solid #000000;
    margin: 5px;
}