<!DOCTYPE html>
<html lang="en" th:with="currentPage=${'contact'}">
<head>
<th:block th:insert="head"></th:block>
</head>
<body>
    <th:block th:insert="nav"></th:block>

    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title" th:text="#{contact.reach-out.title}"></h2>
            </div>
            <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-9 margin-bottom">
                <ul class="list-group">
                    <li class="list-group-item"><img
                        th:src="@{${@environmentService.appendVersion('img/baseline_email_black_18dp.png')}}" class="contact-option-image" />
                        <div class="contact-option-text">
                            <a th:href="'mailto:' + #{common.author-email-address}" th:text="#{common.author-email-address}"></a>
                        </div></li>
                    <li class="list-group-item"><img
                        th:src="@{${@environmentService.appendVersion('img/baseline_call_black_18dp.png')}}" class="contact-option-image" />
                        <div class="contact-option-text">
                            <a th:href="'tel:+' + #{common.author-phone-number-key}" th:text="#{common.author-phone-number-value}"></a>
                        </div></li>
                    <li class="list-group-item"><img
                        th:src="@{${@environmentService.appendVersion('img/baseline_place_black_18dp.png')}}" class="contact-option-image" />
                        <div class="contact-option-text">
                            <th:block th:text="#{common.author-location}"></th:block>
                        </div></li>
                    <li class="list-group-item"><img
                        th:src="@{${@environmentService.appendVersion('img/baseline_code_black_18dp.png')}}" class="contact-option-image" />
                        <div class="contact-option-text">
                            <a th:href="@{${githubProfileUrl}}" th:text="${githubProfileUrl}" class="break-all"></a>
                        </div></li>
                    <li class="list-group-item"><img
                        th:src="@{${@environmentService.appendVersion('img/baseline_work_black_18dp.png')}}" class="contact-option-image" />
                        <div class="contact-option-text">
                            <a th:href="@{${linkedInProfileUrl}}" th:text="${linkedInProfileUrl}" class="break-all"></a>
                        </div></li>
                </ul>
            </div>
            <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-3 margin-bottom">
                <img th:src="@{${githubProfilePic}}" class="github-profile-pic" />
            </div>
        </div>
    </main>

    <th:block th:insert="footer"></th:block>

    <th:block th:insert="javascript"></th:block>
</body>
</html>