<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
<meta name="description" th:attr="content=#{${currentPage + '.page-description'}}">
<meta name="keywords" th:attr="content=#{${currentPage + '.page-keywords'}}">
<meta name="author" th:attr="content=#{common.author}">
<link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/favicon/apple-touch-icon.png}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon/favicon-16x16.png}">
<link rel="manifest" th:href="@{/img/favicon/site.webmanifest}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/default.css}">
<title th:text="#{${currentPage + '.page-title'}}"></title>