<!DOCTYPE html>
<html lang="en">
<head>
<th:block th:insert="head" th:with="title=${'Software Engineer'}"></th:block>
</head>
<body>
    <th:block th:insert="nav" th:with="currentPage=${'software-engineer'}"></th:block>

    <main role="main" class="container-fluid">
        <div class="row">
            <h2 class="repositories-title" th:text="#{software-engineer.repositories.title}"></h2>
        </div>
        <div class="row">
            <div class="repository-container col-12 col-sm-6 col-md-4 col-lg-3" th:each="repository : ${repositories}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${repository.name}"></h5>
                        <p class="card-text" th:text="${repository.description}"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a th:href="@{${repository.htmlUrl}}" th:text="${repository.htmlUrl}"></a></li>
                    </ul>
                    <div class="card-footer">
                        <small class="text-muted" th:text="#{software-engineer.repository.last-updated(${repository.updatedAt})}"></small>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>