<!DOCTYPE html>
<html lang="en" th:with="currentPage=${'software-engineer'}">
<head>
<th:block th:insert="head"></th:block>
</head>
<body>
    <th:block th:insert="nav"></th:block>

    <main role="main" class="container-fluid">
        <div class="row">
            <h2 class="section-title" th:text="#{software-engineer.repositories.title}"></h2>
        </div>
        <div class="row">
            <div class="repository-container margin-bottom col-12 col-sm-6 col-md-4 col-lg-3" th:each="repository : ${repositories}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${repository.name}"></h5>
                        <p class="card-text" th:text="${repository.description}"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a th:href="@{${repository.htmlUrl}}" th:text="${repository.htmlUrl}"></a></li>
                    </ul>
                    <div class="card-footer">
                        <small class="text-muted js-repository-updated-at" th:attr="data-updated-at=${repository.updatedAt}"
                            th:text="#{common.ellipsis}"></small>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:insert="footer"></th:block>

    <th:block th:insert="javascript"></th:block>
    <script th:src="@{${@environmentService.appendVersion('/js/software-engineer.js')}}" crossorigin="anonymous"></script>
</body>
</html>